@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>MovieBase is a simple ASP.NET CORE 2 application, created for the purpose of college project for the CS322 - C# Programming Language subject.</p>
<p>What is it's purpose? MovieBase is an application for the keeping track of the movies in the database, new and old ones, and it can be used in movie stores, theaters and online stores.</p>
<p>Users can create their account and take a look at the list of the avaliable movies.</p>
<p>New movies can be added by filling a simple form. Application is user friends and does not require addition training.</p>
<p>Movie entries can be edited and deleted. Users can also look at the specific movie's details.</p>
<p>All movies are stored in an SQL Server database.</p>
