@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    221b Baker Street<br />
    Belgrade, Belgrade 11580<br />
    Phone:
    063333333
</address>

<address>
    <strong>Support:</strong> <a href="mailto:ajla.dzekovic.2470@metropolitan.ac.rs">ajla.dzekovic.2470@metropolitan.ac.rs</a><br />
    <strong>Information:</strong> <a href="mailto:ajla.dzekovic.2470@metropolitan.ac.rs">ajla.dzekovic.2470@metropolitan.ac.rs</a>
</address>
